NODE_ENV=production
NEXT_PUBLIC_BASE_URL=https://onemoregift.in/api/v1/
NEXT_PUBLIC_API_URL=https://onemoregift.in/api/v1
NEXT_PUBLIC_ALTCHA_CHALLENGE_URL=https://onemoregift.in/api/altcha/challenge
ALTCHA_HMAC_KEY=replace_with_64_plus_random_chars
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_ENABLE_GOOGLE_LOGIN=false
