NODE_ENV=development
PORT=9000
MONGO_URI=mongodb://127.0.0.1:27017/giveaway_dev
JWT_SECRET=change_this_jwt_secret
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:9000
CORS_ORIGIN=http://localhost:3000
COOKIE_DOMAIN=

# Email provider (choose one or both)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@onemoregift.in
BREVO_SENDER_NAME=OneMoreGift


# Google OAuth (for verifying Google ID token)
GOOGLE_CLIENT_ID=
